# binary
/mikrotik-lists-manager
/mikrotik-lists-manager.exe
/mlm
/mlm.exe

# list files
*.lst
*.list
*.rsc

# config
.mikrotik-lists-manager.yaml
.mlm.yaml

# build artifacts
dist/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
